<% if object.errors.any? %>
  <div id="error_explanation" class="bg-red-50 border-l-4 border-red-500 p-4 rounded-r-xl mb-6 animate-pulse">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
        </svg>
      </div>
      <div class="ml-3">
        <h2 class="text-sm font-bold text-red-800">
          The form contains <%= pluralize(object.errors.count, "error") %>.
        </h2>
        <ul class="mt-2 text-xs text-red-700 list-disc list-inside space-y-1">
          <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>